

html
{
	min-height:100%;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

a{
	text-decoration: none
}


a:focus{
	outline-color:black;
}

* {

    box-sizing: border-box;

}

li, ul, p{
	list-style:none;
	box-sizing:border-box;
	margin:0;
	padding:0;
	-webkit-margin-before:0;
	-webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	}

h1,h2,h3,h4,h5,p{
    padding: 0px;
    margin: 0px;
}

/* Nav */


nav {
	position:fixed;
	display:block;
	width:100%;
	height:10vh;
	font:black;
	z-index:1000;
	background-color: rgba(255, 255, 255, 0.9);
	font:#333;
}

.nav__bottom {
	position:absolute;
	min-width:100%;
	min-height:100%;
	color:black;
	z-index:1000;
	display:block;
	background: url(images/bottom.png) repeat-x bottom left;
	overflow:hidden;
}

.nav__container {
	position:relative;
	display:flex;
	margin:auto;
	justify-content:space-between;
	align-items:center;
	max-width:70%;
	min-height:100%;
	flex-direction:row;
	z-index:1200;
	
}

.nav__part {
	min-height:100%;
	position:relative;
	font-family: 'Varela Round', sans-serif;
	font-size:1.5em;
	z-index:1200;
	color:#333;
	padding:0px 0px 0px 2vw;

}

.nav__part:before{
    content: '';
    position: absolute;
    left:0;
    top: 0px;
    min-height: 100%;
    border-right: 1px solid rgba(51, 51, 51, .5);
    -webkit-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    transform: skewX(-35deg);

}

.nav__part:hover{
	color:black;
	transition-duration:0.5s;
}

.nav__logoimg {
	width:125px;
	height:auto;
	padding:5px;
	z-index:1200;
}




/* Header */

.header{
	width: 100%;
    min-height: 100vh;
    background: url(images/11.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header2{
	width: 100%;
    min-height: 100vh;
    background: url(images/8.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header3{
	width: 100%;
    min-height: 100vh;
    background: url(images/10.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header4{
	width: 100%;
    min-height: 100vh;
    background: url(images/4.jpg) no-repeat center / cover fixed;
    position: relative;
}

.logo {
	width:120px;
	height:120px;
	padding-top:5px;
}

h1 { 
    display: flex;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3{
    padding: 0px;
    margin: 0px;
}

.backgroundnone {
	display: none;
}
	
/* Slideshow */
#slide {
	width:100%;
	}
	

.mySlides {
	display: none
}

.slideshow-container {
	width:100%;
	position: relative;
	margin:0;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 2.2em;
	transition: 1s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(51, 51, 51, .8);
}



/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

.header__text {
	position:absolute;
	top:80%;
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	width: auto;
	margin-left:75%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text2 {
	position:absolute;
	top:25%;
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	width: auto;
	margin-left:70%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text3 {
	position:absolute;
	top:70%;
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	width: auto;
	margin-left:9%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text4 {
	margin:0;
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
	width: auto;
	margin-left:15%;
	margin-top:10%;
	padding: 16px;
	color: #FFFF66;
	font-weight: bold;
	font-size: 3.5em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

main {
	width:100%;
}

/* About */

.about {
	display:block;
}

.about__wrapper{
	max-width: 1000px;
	margin:13vh auto auto auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__header{
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	font-size:2em;
	display: flex;
	text-align:center;
	color:#111;
    justify-content: space-around;
	margin:0px 0px 40px 0px;
}

.about__text{
	font-family: 'Varela Round', sans-serif;
	padding: 0px 10px 10px 10px;
	font-size:1.2em;
	display: flex;
	color:#333;
    justify-content: space-around;
}

.about__list{
	margin:auto;
	margin-top:5vh;
	width:85%;
	height:inherit;
	display: flex;
	flex:1;
	align-content:center;
	justify-content: space-around;
	text-align:center;
}

.about__advantages{
	position:relative;
	width:16.6%;

}

.about__advantages1{
	position:relative;
	width:16.6%;
}

.about__advantagesimg{
	width:35%;
	height:auto;
}

.about__advantagestext{
	font-family: 'Varela Round', sans-serif;
	
	padding: 20px 0px 10px 0px;
	font-size:1.2em;
	display: flex;
    justify-content: space-around;
}

.about__advantages:after{
	content: '';
    position: absolute;
    left:0;
    height: 45%;
	display:flex;
	top: 25%;
    border-right: 1px solid rgba(51, 51, 51, .6);
    -webkit-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    transform: skewX(-35deg);
}

/* Fleet */

.fleet {
	z-index:250;
	height:65vh;
	width:100%;
	max-width:100%;
	margin:auto;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	background: url(images/12.jpeg) no-repeat center / cover fixed;
	vertical-align:baseline;
	background-size: cover;
	-moz-background-size: cover;
	margin-top:15vh;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position:relative;
}

.overlay{
	position:absolute;
	min-width:100%;
	min-height:65vh;
	z-index:50;
	background-color:rgba(0,0,0,0.5);
}

.fleet__header {
	position:relative;
	text-align:center;
	font-weight:bold;
	font-size:3em;
	font-family: 'Monserrat', sans-serif;
	line-height:1em;
	color:white;
	z-index:50;
	margin: 0px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.fleet__text{
	font-family: 'Varela Round', sans-serif;
	padding: 20px 0px 10px 0px;
	font-size:1.2em;
	width:50%;
	text-align:center;
	z-index:50;
	color:white;
	display: flex;
    justify-content: space-around;
}


/* Partners */

.partners {
	width:100%;
	max-height:400px;
    position: relative;
	box-sizing: border-box;
    display: block;
	margin-top:15vh;
	margin-bottom:15vh;
}

.partners__list {
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:space-around;
}

.partners__part {
	position:relative;
	width:20%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.partners__part1 {
	position:relative;
	width:20%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.partners__part:after{
	content: '';
    position: absolute;
    left:0;
    top: 0px;
    min-height: 100%;
    border-right: 1px solid rgba(51, 51, 51, .6);
    -webkit-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    transform: skewX(-35deg);
}


.partners__img{
	height:inherit;
	width:70%;
}


/* Directions */

.directions {
	z-index:250;
	height:65vh;
	width:100%;
	max-width:100%;
	margin:auto;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	background: url(images/13.jpg) no-repeat center / cover fixed;
	vertical-align:baseline;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position:relative;
}

.directions__header {
	position:relative;
	text-align:center;
	font-weight:bold;
	font-size:3em;
	font-family: 'Monserrat', sans-serif;
	line-height:1em;
	color:white;
	z-index:50;
	margin: 0px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.directions__content{
	position:relative;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:row;
}

.directions__text{
	font-family: 'Varela Round', sans-serif;
	margin: 70px 20px 10px 20px;
	font-size:1.5em;
	text-align:left;
	z-index:150;
	vertical-align:middle;
	color:white;
	display: flex;
    justify-content: center;
	align-items:space-around;
	flex-direction:column;
}


.directions__countries{
	padding:20px;
}

.directions__check {
	width:50px;
	height:auto;
	vertical-align:middle;
	text-align:center;
	padding:0px 15px 0px 0px;
}


.work{
	z-index:250;
	height:40vh;
	width:100%;
	margin:auto;
	box-sizing: border-box;
    display: block;
	margin-top:15vh;
	margin-bottom:15vh;
}

.work__list{
	position:relative;
	color:#333;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:space-around;
}

.work__part{
	width:33vw;
	position:relative;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	text-align:center;
	font-weight:bold;
	font-size:2.5em;
	font-family: 'Monserrat', sans-serif;
	color:#333;
	line-height:1em;
}

.work__part1{
	width:33vw;
	position:relative;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	text-align:center;
	font-weight:bold;
	font-size:2.5em;
	font-family: 'Monserrat', sans-serif;
	line-height:1em;
}

.work__part:after{
	content: '';
    position: absolute;
    left:0;
    min-height: 50%;
	display:flex;
	top: 25%;
    border-right: 1px solid rgba(51, 51, 51, .6);
    -webkit-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    transform: skewX(-35deg);
}

.work__img{
	max-height:200px;
	width:auto;
	padding:0px 0px 25px 0px;
}

.button-active{
	margin:40px 0px 10px 0px;
	text-decoration:none;
	font-family: 'Varela Round', sans-serif;
	display: flex;
	min-width:200px;
	justify-content:space-around;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 10px 20px;
    border: 1.5px solid #333;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.5em;
    transition: .4s;
	color:#333;
}

.button-active:hover{
	color:white;
	font-family: 'Varela Round', sans-serif;
	background-color:#333;
	transition-duration:0.5s;
}

.button-inactive{
	margin:40px 0px 10px 0px;
	text-decoration:none;
	font-family: 'Varela Round', sans-serif;
	min-width:200px;
	display: flex;
	justify-content:space-around;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 10px 20px;
    border: 1.5px solid #333;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.5em;
    transition: .4s;
	color:white;
	background-color:#333;
}

.nav__container2 {
	position:relative;
	display:flex;
	margin:auto;
	justify-content:center;
	align-items:center;
	max-width:70%;
	min-height:100%;
	flex-direction:row;
	z-index:1200;
	
}

.work__img2{
	width:70px;
	height:auto;
	padding:5px;
	z-index:1200;
}


.nav__part2 {
	min-height:100%;
	position:relative;
	font-family: 'Varela Round', sans-serif;
	font-size:1.5em;
	z-index:1200;
	color:#333;
	padding:0px 0px 0px 1vw;

}

.overlay2{
	position:absolute;
	min-width:100%;
	min-height:100vh;
	z-index:50;
	background-color:rgba(255,255,255,.75);
}

.work__template {
	position:fixed;
	height:100vh;
	top:0;
	width:100%;
	z-index:900;
	display:flex;
	align-items:center;
	justify-content:center;
}

.work__templatestructure1{
	position:relative;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.work__templatestructure2{
	width:80%;
	height:70%;
	margin:auto;
	position:relative;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.work__templateheader{
	position:relative;
	text-align:center;
	font-weight:bold;
	font-size:3em;
	font-family: 'Monserrat', sans-serif;
	line-height:1em;
	z-index:50;
	margin: 0px;
	padding:0px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.work__templatepart{
	position:relative;
	width:100%;
	height:100%;
	top:40%;
	transform:translateY(-50%);
	display:flex;
	padding-top:15%;
	justify-content:flex-start;
	align-items:center;
	flex-direction:column;
}

.work__templatelist{
	padding: 20px 0px 0px 10px;
	width:65%;
}

.work__templatenb{
	list-style-type: disc;
	font-size:1.3em;
	padding:15px 0px 5px 15px;
	font-family: 'Varela Round', sans-serif;
	line-height:1em;
}

.work__templatesum{
	position:relative;
	width:80%;
	height:20%;
	display:flex;
	align-items:flex-start;
	text-align:center;
	font-weight:bold;
	font-size:1.8em;
	font-family: 'Varela Round', sans-serif;
	line-height:1em;
	z-index:50;
	margin: auto;
	padding:10px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.work__templateimgd{
	position:relative;
	width:80%;
	margin:auto;
	padding-top:7%;
	height:10%;
}

.work__templateimg{
	max-height:130px;
	width:auto;
}






#map {
	height:50vh;
	width:100%;
	margin-bottom:8vh;
}


footer{
	height:32vh;
	width:100%;
	margin:auto;
	font-size:1.2em;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	color:#333;
}


.footer__structure1{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
}


.footer__structure2{
	position:relative;
	height:100%;
	width:100%;
	margin:auto;
	font-size:1.2em;
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	flex-direction:row;
}

.footer__part{
	position:relative;
	font-family: 'Varela Round', sans-serif;
	width:33.3%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	flex-direction:column;
}

.footer__part1{
	position:relative;
	font-family: 'Varela Round', sans-serif;
	width:33.3%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	flex-direction:column;
}


.footer__part:after{
	content: '';
    position: absolute;
    left:0;
    height: 63%;
	display:flex;
	top: 0;
    border-right: 1px solid rgba(51, 51, 51, .6);
    -webkit-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    transform: skewX(-35deg);
}

.footer__img{
	width:50px;
	height:auto;
	margin:20px 0px 25px 0px;
}



.footer__bottom{
	font-family: 'Varela Round', sans-serif;
	color:rgba(255,255,255,1);
	background-color:#333;
	font-size:0.7em;
	width:100%;
	margin:auto;
	padding:25px;
	flex:display;
	justify-content:center;
	align-items:center;
	flex-direction:row;
}

.footer__bottoml{
	width:50%;
	margin:auto;

	text-align:left;
	float:left;
}

.footer__bottomr{
	width:50%;
	margin:auto;
	color:rgba(255,255,255,1);

	text-align:right;
	float:left;
}
